
// COLORS

$color-primary: #e56d68;
$color-secondary: #86b2c3;
$color-tertiary: #fcf9db;
$color-tertiary-dark: #b1ad9c;

$color-text: #444;
$color-bg: #eee;


$color-success: #b6d39b;
$color-error: red;
$color-action: #ECC155;


$color-pokerus: #A783CE;

$color-footer: #6e6d6b;
$color-border: #333333;


// BREAKPOINTS
$mq-breakpoints: (
    mobile:  20em,
    tablet-small: 40em,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);

// Stat colors
$vary-map: (
  hp: (
    'color-primary': #90EE90
  ),
  attack: (
    'color-primary': #ffe368
  ),
  defense: (
  	'color-primary': #FFC65E
  ),
  spattack: (
  	'color-primary': #51c5e1 
  ),
  spdefense: (
  	'color-primary': #81A8DC
  ),
  speed: (
  	'color-primary': #c47eb9
  )
);

// FONTS

$font-primary: "Cabin", Verdana, sans-serif;
$font-primary-initial: Verdana, sans-serif;
$font-secondary: "Montserrat", Circular, Helvetica, Arial, sans-serif;
$font-secondary-initial: Circular, Helvetica, Arial, sans-serif;