<!DOCTYPE html>
<html lang="en" class="{% block class %}{% endblock %}">
<head>
    {% block head %}
		{% include 'includes/head.twig' %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
{% block content %}
{% endblock %}
</body>


{% block footer %}
    <script src="/js/async.min.js"></script>
{% endblock %}
</body>
</html>