

// Estilos para cualquier input
input {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  border-radius: 0;
}

