
// Headers


.header {
  background: $color-header;
  padding: 2em;
  color: #333;
  font-family: $font-secondary;
}


.logo {
  margin: 0;
  line-height: .9;
  font-size: 1.5em;
  
  abbr {
    border-bottom: none;
  }
}

.logo__evs {
  display: block;
  font-size: 2.5em;
  letter-spacing: -0.13em;
  margin-left: -.05em;
}

.logo__s {
  //font-size: .75em;
  margin-left: -.2em;
}