

// Message
.message {
  margin: 1em;
  padding: 1em 1em;
  background: darken($color-success, 15%);
  border: .2em solid $color-success; 
  color: lighten($color-primary, 10%);
}


// Limitador de ancho para contenido
.wrapper {
  max-width: 70em;
  margin: 0 auto;
}