

// Option list
.option-list {
  overflow: hidden;
  padding: .25em;
  background: #fff;
}

.option {
  font-family: 'Montserrat', sans-serif;
  //text-transform: uppercase;
  display: block;
  padding: 1em .5em;
  background: #fff;
  border: .25em solid #fff;
  text-align: center;
  float: left;
  width: 50%;
  box-shadow: inset -.2em -.2em rgba(#333, .2);
  
  &:hover {
    cursor: pointer;
  }

  @include vary {
    background: vary-get('color-primary');
  }
}



@include mq($from: medium) {
  // Dividir opciones en 3 columnas
  .option {
    width: 33.33%;
  }
}