

// Pokemon profile
.pokemon {
  overflow: hidden;
  margin: 0 1em 1em;
  background: #fff;
}

.pokemon__avatar {
  padding: .5em;
  margin: 0 auto;
  display: block;
  background: #fff;
  text-align: center;
  height: 8em;
  position: relative;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom:.5em; right:0; left:0;
    margin: auto;
    width: 8em;
    height: 3em;
    //background: radial-gradient(ellipse closest-side at center center, #CCC 0%, transparent 100%) center center no-repeat;
    z-index: 1;
  }
  
  // Esto compila en .pokemon__avatar img { ...
  img {
    max-height: 80%;
    max-width: 80%;
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    margin: auto;
    top:0; right:0; bottom:0; left:0;
    z-index: 2;
    
    // Image rendering
    /*
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: pixelated;
    image-rendering: optimize-contrast;         
    -ms-interpolation-mode: nearest-neighbor; 
    */
  }
}

.pokemon__name {
  text-align: left;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.66em;
  line-height: 1;
  background: $color-primary;
  padding: 1em;
  overflow: hidden;
}

.pokemon__realname {
  font-weight: 600;
}

.pokemon__id {
  font-weight: 600;
  color: #999;
  letter-spacing: -0.1em;
  
  // Big ID
  color: rgba($color-primary-bg, 0.15);
  position: absolute;
  font-size: 4.5em;
  line-height: .65;
  top: 0; right: 0; bottom: 0;
  
  
  // Esto compila en .pokemon__id:before {...
  &:before {
    content:'#';
  }
}

.pokemon__go {
  clear: both;
  @extend .search__submit;
  display: block;
  text-transform: uppercase;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}


@include mq($from: medium) {

  
  .pokemon {
    position: relative;
    padding-left: 25%; // Este valor debe compensar por el ancho del avatar
  }
  
  // Fijar avatar a la izquierda
  .pokemon__avatar {
    height: 100%;
    width: 25%;
    position: absolute;
    top: 0; left: 0; bottom: 0;
  }
  
  .pokemon__name {
    margin-left: .25em;
  }
  
  .pokemon__go {
    margin-left: .5em;
  }
}