
// Search box
.search {
  display: flex;
  font-family: Montserrat, sans-serif;
}

.search__input {
  flex: 1;
  background: #fff;
}

.search__input,
.search__submit {
  padding: 1em 1.25em;
  font-size: 1em;
}

.search__submit {
  background: $color-secondary;
  color: darken($color-secondary, 40%);
  box-shadow: inset .2em -.15em rgba(#333, .2);
}


@include mq($from: medium) {

  .search {
    font-size: 1.5em; // Hacer caja de busqueda grande
    flex-direction: row-reverse; // Invertir orden flexbox
  }
  
  .search__submit {
      box-shadow: inset -.2em -.15em rgba(#333, .2);
  }
}