

html {
  background: $color-bg;
  color: $color-text;
  font-size: 1em;
  line-height: 1;
}

body {
  @extend %font-primary;
}

h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
  line-height: 1;
  margin: 0;
}


fieldset {
	border: 1px solid $color-tertiary;
	margin-bottom: 1.5em;

	label {
		display: block;
	}
}
 
legend {
	padding: 0 1em;
}

input,
button,
select,
textarea {
	font: inherit;
	border: 0;
	line-height: 1;
	border-radius: 0;
}

p {
    line-height: 1.25;
}
