
.wrapper {
	max-width: 60em;
	margin: 0 auto;
	padding: 0 1em;
	overflow: hidden;
}

.header {
  background: $color-header;
  padding: 1em 2em;
  color: #333;
  font-family: $font-secondary;

  a {
  	text-decoration: none;
  }
}

.header--home {
  
}


.site-title {
	text-decoration: none;
}

.site-footer {
	font-size: .9em;
	padding-top: 1em;

	border-top: 1px solid $color-secondary;

	margin-top: 2.5em;
}

.logo {
  color: #333;
  font-family: $font-secondary;
  margin: 0 0 3rem 0;
  line-height: .9;
  font-size: 1.2em;
  
  abbr {
    border-bottom: none;
  }
}

.logo__evs {
  display: block;
  font-size: 2.5em;
  letter-spacing: -0.13em;
  margin-left: -.05em;
}

.logo__s {
  //font-size: .75em;
  margin-left: -.2em;
}

.nav {
	padding: 0; 
	margin: 0;

	a {
		text-decoration: none;
		color: lighten($color-primary-bg, 20%);
		
		&:hover,
		&:focus,
		&:active {
			color: $color-text;
		}
	}

	.active a {
		color: #fff;
	}

	:not(.done) a {
		text-decoration: line-through;
	}

	ul {
		list-style: none;
		padding: 0 0 0 .5em;
		margin: 0;

		ul li {
			margin-top: .2em;
		}
	}

	& > ul > li > ul {
		margin-bottom: 1em;
	}
}

.nav__title {
	font-weight: 600;
	text-transform: uppercase;
	font-size: .9em;
	color: $color-text;
	margin-bottom: .5em;
	display: block;
	font-family: $font-secondary;
}

.content__side {
	background: $color-header;
}

.content__main {
	a {
		color: $color-header;
	}

	ul {
		padding: 0 0 0 1em;
		margin-top: 0;
		list-style: square;
	}
} 


@media all and (min-width: 40em) {
	body {
		background: linear-gradient(-90deg, #f9f9f9 0%, #f9f9f9 70%, $color-header 70%, $color-header 100%);
	}

	.wrapper {
		display: flex;
	}
	.content__side {
	}
	.content__side,
	.content__main {
		float: left;
		width: 30%;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.content__main {
		width: 70%;
		padding-left: 3em;
		background: #f9f9f9;
		min-height: 100vh;
	}
}