<header role="banner" class="l-header l-header--big">

	<h1 class="c-logo" title="{{ site.title }}">
		<span class="c-logo__evs">
			<abbr title="Effort Value">EV</abbr>
			<span class="c-logo__s">s</span>
		</span>
		<span class="c-logo__calculator">calculator</span>
	</h1>

	<div class="c-site-desc">{{ site.description }}</div>

</header>
