


input,
button,
textarea,
select {

    -webkit-appearance:none;
    display: block;
    display: inline-block;
	width: 100%;

	font: inherit;
	outline: none;
	

	&:disabled{
		color: #A9A9A9;
		background: #ECECEC;
	}

	&:focus{
	}
}


// TEXTAREA

textarea{
	resize: vertical;
	min-height: 7em;
}

/* SELECT
Remove all the styling, a wrapper will act as styled element
1 -  Fixes Firefox's bug where the arrow didn't dissapear
*/
select{
	width: 100%;
	display: block;
	padding-right: 2em;

	-moz-appearance: none; /* 1 */
	text-indent: 0.01px;
	text-overflow: '';
}
// Hide the select arrow on IE10+
select::-ms-expand {
    display: none;
}

.select{
	position: relative;
	display: inline-block;
	width: 100%;
}



// Icon on the right
.select:after{
	content: "\25bc";
	color: $color-primary;
	display: inline-block;
	padding: 0 .75em;
	speak: none;
	pointer-events: none;
	font-size: .75em;

	line-height: 2.5em;
	position: absolute;
	top: .1em;
	bottom: .1em;
	right: .1em;
	background: #fff;
}


input[type="checkbox"]{
	-webkit-appearance: checkbox;
	display: inline-block;
	width: auto;
	margin: 0 .1em;
}
input[type="radio"]{
	-webkit-appearance: radio;
	display: inline-block;
	width: auto;
	margin: 0 .1em;
}

