

*{
	&,
	&:before,
	&:after{
		box-sizing: border-box;
	}
}

html{
    font:#{($mq-base-font-size/16px)*1em}/#{$line-height-ratio} $font;
	background: $color-footer;
	font-size: 1em;
	line-height: 1.2;
	margin: 0;
	color: $color-text;
}


body{
	position: relative;
}

.main {
  background: #d9d9d9;
  overflow: hidden;
}
