

.l-header--big {
	.c-logo {
		font-size: 2em;
	}
}

.l-header--side {
	background: $color-primary;
	padding: 1em;
	overflow: hidden;

	.c-logo {
		float: left;
	}

	.c-hamburger {
		float: right;
	}

	@include mq($from: tablet) {
		.c-logo {
			padding-bottom: 1rem;
		}
	}
}
