
.l-record {
    margin-left: -1em;
    margin-right: -1em;  
}


@include mq($from: tablet) {
	.l-record {
		overflow-y: scroll;
	    height: 400px;
	    height: 60vh;
	    height: calc(100vh - 18em);
	}
}

@include mq($from: desktop) {
	.l-record {
	    height: 400px;
	    height: 70vh;
	    height: calc(100vh - 12em);
	}
}