
.l-record {
    margin-left: -1em;
    margin-right: -1em;  
}


@include mq($from: tablet) {
	.l-record {
		overflow-y: scroll;
	    position: fixed;
	    left: 0;
	    right: 0;
	    margin: 0;
	    bottom: 0;
	    top: 7em;
	}
}
