<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>{{ site.title }}</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<form method="POST" action="/">

		<fieldset>
			<legend>Set the targets for your training:</legend>
			{% for stat,name in stats %}
				<label>
					<span>{{ name }}</span>
					<input class="js-stat" type="number" name="{{ stat }}" step="1" min="0" max="252" />
				</label>
			{% endfor %}
		</fieldset>

		<fieldset>
			<legend>Game:</legend>
			{% for game,name in games %}
				<label>
					<span>{{ name }}</span>
					<input type="radio" name="game" value="{{ game }}">
				</label>
			{% endfor %}
		</fieldset>

		<label>
			<input type="checkbox" name="pokerus" value="1">
			<span>Pokerus</span>
		</label>

		<input type="submit" value="Start training">
		
	</form>


<script>
function statTotal() {
	var statList = document.querySelectorAll('.js-stat');
	var total = 0;

	for(var i=0; i < statList.length; i++) {
		if(statList[i].value) total += parseInt(statList[i].value, 10);
	}

	return total;
}

function statFocus() {
	if(!this.value) {
		if((maxEvs - statTotal()) > 252 ) this.value = 252;
		else this.value = (maxEvs - statTotal());
	}
	else console.log(this.value);
}

function statChange() {
	console.log('has changed');
	if(this.value < 0) this.value = 0;
	else {
		if(this.value > 252) this.value = 252;
		else this.value = parseInt(this.value, 10);
	}
}

(function(doc) {
	window.maxEvs = 508;
	var statList = document.querySelectorAll('.js-stat');

	for(var i=0; i < statList.length; i++) {
		statList[i].addEventListener('focus', statFocus);
		statList[i].addEventListener('input', statChange);
		statList[i].addEventListener('input', statChange);
	}
})(document);
</script>

</body>
</html>