<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>{% include 'includes/critical.min.css' %}</style>

    <link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
    <meta name="fonts"  content="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CCrimson+Text:400,400italic,600">
    <meta name="fontjs"  content="/js/fonts.min.js">

    <script src="/js/async.js"></script>

    <script>{% include 'includes/critical.min.js' %}</script>
    <noscript>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CCrimson+Text:400,400italic,600">
        <link rel="stylesheet" type="text/css" href="/css/nojs.css">
    </noscript>

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/css/ie.css">
    <![endif]-->
    <!--[if IE]>
     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>
<body>
	<h1>{{ site.title }}</h1>
	<p>{{ site.description }}</p>

	<div class="js-graph--stats"></div>


	<form method="POST" action="/">

		<fieldset>
			<legend>Set the targets for your training:</legend>
			{% for stat,name in stats %}
				<label>
					<span>{{ name }}</span>
					<input class="js-stat" type="number" name="{{ stat }}" step="4" min="0" max="252" />
				</label>
			{% endfor %}
		</fieldset>

		<fieldset>
			<legend>Game:</legend>
			{% for game,name in games %}
				<label>
					<span>{{ name }}</span>
					<input type="radio" name="game" value="{{ game }}">
				</label>
			{% endfor %}
		</fieldset>

		<label>
			<input type="checkbox" name="pokerus" value="1">
			<span>Pokerus</span>
		</label>

		<input type="submit" value="Start training">
		
	</form>


<script>

</script>

</body>
</html>