{% extends "base.html" %}

{% block content %}

	<header role="banner" class="l-header l-header--side">
		<h1>{{ site.title }}</h1>
		{% include 'includes/nav_training.html' %}		
	</header>

	{# Training stat info #}
	{% if training_data.stat == "invalid" %}
		{% set errors = training_data.errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	
	<h2>Training #{{ training.id }} - {{ stats[current_stat] }}</h2>
	<div class="c-progress c-progress--main" style="background: #fff">
		<div class="c-progress__bar" style="background: green; height: 1em; width: {{ progress }}%;"></div>
	</div>
	

	{# Records #}
	<h2>Records</h2>

	{% if records_data.stat != "ok" %}
		{% set errors = records_data.errors %}

		{% if errors|length > 1 %}
			<ul>
				{% for error in errors %}
					<li>{{ records_data.errors }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<div>{{ records_data.errors[0] }}</div>
		{% endif %}

	{% elseif records_data.stat != "error" %}
		{% set records = records_data.data  %}

		<h2>Records</h2>
		<ul>
			{% for record in records %}
				<li>
					{{ record.value }}
					{% if record.from is defined %}

					{% endif %}
				</li>
			{% endfor %}
		</ul>

	{% endif %}



{% endblock %}
