.c-button {
	@extend %font-secondary;

	display: inline-block;
	padding: .8em 1em;
	background: $color-secondary;
  	box-shadow: inset -0.2em -0.2em rgba(51, 51, 51, 0.2);
	color: $color-text;

	&:hover {
		cursor: pointer;
	}

	@include vary {
		background: vary-get('color-primary');
	}
}

.c-button:disabled {
	background: #CCC !important;

	&:hover {
		cursor: auto;
		cursor: not-allowed;
	}
}

.c-button--full {
	display: block;
}

.c-button--action {
	background: $color-action;
}