
.c-panel {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate3d(100%,0,0);
	transform: translate3d(100vw,0,0);
	transition: .5s all ease-in-out;
}

#panel-menu:target {
	transform: translate3D(0,0,0);
}

#panel-records:target {
	transform: translate3D(0,0,0);
}