
.c-panel {
	position: fixed;
	top: 5em;
	left: 0;
	right: 0;
    bottom: 0;
	transform: translateX(30em);
	transform: translateX(100%);
	transform: translateX(100vw);
	transform: translate3d(-100%,0,0);
	transform: translate3d(-100vw,0,0);
	transition: .5s all ease-in-out;
    overflow-y: scroll;
    background: #fff;
}

#panel-menu:target {	
	transform: translateX(0);
	transform: translate3D(0,0,0);
}

#panel-records:target {
	transform: translateX(0);
	transform: translate3D(0,0,0);
}

.c-panel--menu {
	padding: 1em;
	background: $color-primary;
}

@include mq($from: tablet) {

	.c-panel--menu {

		a[href="#panel-records"] {
			display: none;
		}

		padding: 1em;
	    right: auto;
	    width: 14em;
	}

}

@include mq($from: desktop) {
	.c-panel--menu {
		padding: 0;
		background: none;
	}
}

