.c-pokerus {
	@extend %font-secondary;
	color: #fff;
    background: #A783CE;
    border-radius: .2em;
    line-height: 1;
    padding: .25em .3em .3em;
    display: inline-block;
    font-size: .9em;
}