
.c-record {
	overflow: hidden;
	padding: .7em 0;

	& + & {
		border-top: .1em solid #CCC;
	}

	.c-pokerus {
		font-size: .5em;
	}
}

.c-record__value {
	@extend %font-secondary;
	font-size: 2.75em;
    float: left;
    font-weight: 600;
    letter-spacing: -.075em;
    width: 1.9em;
    color: #999;
    line-height: .75;


	&:before {
		content: '+';
	}
}

.c-record--negative {
	.c-record__value:before {
		content: '';
	}
}


.c-record__item {
	float: right;
	display: inline-block;
	width: 2em;
	height: 2em;
	background-position: center center;
	background-size: auto 130%;
	line-height: 1;
	margin: 0;
}

.c-record__data {
	
}

.c-record__from {
	margin: 0em 1em 0em 0;
    display: block;
}
