
.c-record {
	overflow: hidden;
	padding: .7em 0;

	&:nth-child(2n) {
		background: #ECF5F9;
		margin-left: -1em;
		margin-right: -1em;
		padding-left: 1em;
		padding-right: 1em;
	}

	.c-pokerus {
		font-size: .5em;
	}
}

.c-record__value {
	@extend %font-secondary;
	
	float: right;

	font-size: 2.75em;
    font-weight: 600;
    letter-spacing: -.075em;
    color: #999;
    line-height: .75;
    padding-right: .05em;
}



.c-record__item {
	float: left;

	display: inline-block;
	width: 2em;
	height: 2em;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 130%;
	line-height: 1;
	margin: 0 .6em 0 0;
}

.c-record__data {
	
}

.c-record__from {
	margin: 0em 1em 0em 0;
    display: block;
}
