
.t-training {
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: .5em;
	}
}

.t-training__main {
	overflow: hidden;
}

.t-training__header {
	background: $color-tertiary;
	color: $color-tertiary-dark;
	padding: 1em;
	overflow: hidden;
	border: 1em solid $color-bg;
}

@include mq($from: tablet) {
	.t-training__actions,
	.t-training__records {
		float: left;
		width: 33.33%;
		background: #fff;
		border: 1em solid $color-bg;
		padding: 1em;
		border-top: 0;
	}

	.t-training__actions {
		width: 66.66%;
		border-right: 0;
	}
}

@include mq($from: desktop) {

	.t-training__main {
		padding-left: 14.5rem;
	}

	.t-training__nav {
		position: fixed;
		top: 0; bottom: 0; left: 0;
		width: 14.5rem;
	}
}