$t-nav-width: 14.5rem;
$t-records-width: 20rem;


.t-training {
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: .5em;
	}

	.js-graph--stats{
		display: none;
	}

	.c-logo {
		margin: 0;
	}
}

.t-training__main {
	overflow: hidden;
}

.t-training__actions {
	background: #fff;
	padding: 1em;
}

.t-training__header {
	background: $color-tertiary;
	color: $color-tertiary-dark;
	padding: 1em;
	margin: -1rem -1rem 1rem -1rem;
	overflow: hidden;
}

.t-training__records {
	padding: 1em;
	background: #fff;
}

@include mq($from: tablet) {

	.t-training {
		.c-panel--records {
			transition: none;
			transform: translateX(0);
			transform: translate3d(0,0,0);
			position: static;
			overflow-y: visible;

			.c-button--back { 
				display: none; 
			}
		}
	}

	.t-training__grid {
		overflow: hidden;
	}

	.t-training__col {
		float: left;
		width: 50%;
		padding-top: 1em;

		&:nth-child(2n) {
			padding-left: 1em;
		}
	}

	.t-training__main {
		position: relative;
	}

	.t-training__actions,
	.t-training__records {
		background: #fff;
		border: 1em solid $color-bg;
		padding: 1em;
		border-top: 0;
		border-bottom: 0;
	}

	.t-training__actions {
		border-right: 0;
		margin-right: $t-records-width;
	}

	.t-training__records {
		position: fixed !important;
		bottom: 0; 
		right: 0;
		left: auto;
		width: $t-records-width;
		top: 5.1em;
	}

	.t-training__header {
		border: 1em solid $color-bg;
		border-left: 0;
		border-right: 0;
	}
	.t-training__records{
		border-top: 1em solid $color-bg;
	}


}

@include mq($from: desktop) {

	.t-training {
		.c-button--back {
			display: none;
		}
			
		.c-panel {
			transition: none;
			transform: translateX(0);
			transform: translate3d(0,0,0);
			position: static;
			overflow-y: visible;
		}

		.c-panel--menu {
			clear: both;
			padding-top: 1em;
		}
	}

	.t-training__main {
		padding-left: $t-nav-width;
	}

	.t-training__nav {
		position: fixed;
		top: 0; bottom: 0; left: 0;
		width: $t-nav-width;

		.c-logo {
			font-size: 1.5em;
		}
	}

	.t-training__records {
		top: 0;
	}

	.t-training {
		.js-graph--stats {
			display: block;
			width: 90%;
			position: absolute;
	    	bottom: 3em;
	    }
    }
}