<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="content">
      <div class="wrapper">

      <aside class="content__side">
        <nav class="nav">
          <ul>
              <li>
                <span class="nav__title">Manual</span>
                {% include nav.html context="/" %}
              </li>
              <li>
                <span class="nav__title">Trainings</span>
                {% include nav.html context="/trainings/" %}
              </li>
              <li>
                <span class="nav__title">Records</span>
                {% include nav.html context="/records/" %}
              </li>
              <li>
                <span class="nav__title">Users</span>
                {% include nav.html context="/users/" %}
              </li>
              <li>
                <span class="nav__title">Vitamins</span>
                {% include nav.html context="/vitamins/" %}
              </li>
              <li>
                <span class="nav__title">Others</span>
                {% include nav.html context="/other/" %}
              </li>
          </ul>
        </nav>
      </aside>
      <main class="content__main">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </main>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
